.boatstyle {
  // height: 100%;
  // width:100%;
  // background-repeat: no-repeat !important;
  // background-size: cover !important;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 500px;
  background-position: 100% !important;

}


.show-test {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.calendar-box {
  width: 314px;
  background-color: white;
}

.show-test h1 {
  font-size: 30px;
}
.bookform {
  margin-left: 45px !important;
    width: 376px;
    z-index: 3 !important;
}

.mainform {
  margin: 0px !important;
  border: 1px solid #e4e4e4 !important;
  background-color: #ffffff !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.boat {
  display: flex;
  justify-content: space-between;
  margin-top:20px;
  margin-bottom:80px;
}
.title {
  flex: 0 0 20%;
}
.info-content{
  flex: 0 0 40%;
  margin-top:20px;
}
.description-wrapper{
  margin-top: 20px;
}
h6{
  margin-top:35px;
}
.title p{
  font-size:14px;
  color: #45050C;
}

.bookingform {
  background-color:#3592CC;
}
