// Specific CSS for your home-page
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image:
  linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
  url(image-path('background.jpg'));
  height: 100vh;
  background-size: cover !important;
  // background-color: red;
}

.banner-content {
  text-align: center;
  color: white;
}



// .input-lg {
//   height: 70px;
//   padding: 10px 16px;
//   font-size: 20px;
//   line-height: 1.3333333;
//   border-radius: 2px;
//   color: black;
// }

.btn {
  border-radius: 0;
  border: none;
  width: 150px;
  height: 50px;
  margin-top: 30px;
}


// new css

.main-container {
  display: flex;
}


// #map {
//   flex: 0 0 450px;
//   height: 100vh;
//   position: sticky !important; /* !important to override Gmaps inline CSS */
//   top: 0 !important;
// }

// .content {
//   display: flex;
// }


// body {
//   margin: 0;
//   font-size: 18px;
//   background: #F4F4F4;
// }
// p {
//   font-weight: lighter;
// }
// h1, h2, h3 {
//   font-weight: bold;
// }
// h1 {
//   font-size: 30px;
// }
// h2 {
//   font-size: 25px;
//   margin-bottom: 20px;
// }
// h3 {
//   font-size: 23px;
// }
// .padded {
//   padding: 30px 0;
// }


// .city {
//   position: absolute;
//   left:10px;
//   top: 10px;
// }

// h3 {
//   position: absolute;
//   left: 10px;
//   bottom: 45px;
// }

// p {
//   position: absolute;
//   left: 10px;
//   bottom: 10px;
// }

// img {
//   position: absolute;
//   right: 10px;
//   top: 10px;
// }

// .date {
//   flex: 1 0 auto;
//   color: grey;
// }

