<div class="banner">
  <div class="banner-content">
    <h1>All Aboard</h1>
    <p>Book a boat, and enjoy the adventure</p>
    <!-- <a href="" class="btn-yours">search</a> -->
    <form action="/boats" method="get">
    <input type="text" class="input-lg" name="location" placeholder="What's your destination">
    <input type="submit" class="btn btn-primary" value="search">
  </form>
  </div>
</div>
