<div class="banner">
  <div class="banner-content">
    <h1>All Aboard</h1>
    <p>Book a boat, and enjoy the adventure</p>
    <!-- <a href="" class="btn-yours">search</a> -->
    <%= form_tag boats_path, method: :get do %>
      <%= text_field_tag :location,
      params[:location],
      class: "form-control",
      placeholder: "What's your destination?"
    %>
    <% end %>

  </div>
</div>
