/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

/* Importing components */
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/navbar.css");

/* Importing layouts */
@import url("layouts/map.css");
@import url("layouts/profile.css");

// Import your components CSS files here.
@import "alert";
@import "navbar";

.main-container {
  display: flex;
}
#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.content {
  display: flex;
}



body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  background: #F4F4F4;
}
p {
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}
.padded {
  padding: 30px 0;
}

.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  margin: 15px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.footer {
  background: #04A366;
  padding: 20px;
}
.footer a {
  font-size: 25px;
  color: white;
  opacity: 0.6;
}
.footer a:hover {
  opacity: 0.9;
}


.navbar-minimalist {
  height: 70px;
  background: white;
  box-shadow: 0px -2px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-minimalist img {
  width: 50px;
  height: 50px;
}


.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*width: cover;*/
}

.cardholder {
  flex: 1 0 auto;
  margin: 5px;
  border: solid grey 1px;
}

.card {;
  position: relative;
  background-repeat: no-repeat;
  height: 200px;
  color: white;
  /*opacity: 0.7;*/

}

.card1 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../../images/shanghai.jpg")
}

.card2 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../../images/rio.jpg")
}

.card3 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../../images/berlin.jpg")
}

.city {
  position: absolute;
  left:10px;
  top: 10px;
}

h3 {
  position: absolute;
  left: 10px;
  bottom: 45px;
}

p {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

img {
  position: absolute;
  right: 10px;
  top: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.date {
  flex: 1 0 auto;
  color: grey;
}

